<div style='margin-bottom: 90px;'>
  <!--  -->
    <div echarts [options]='chartOption' (chartInit)='onChartInit($event)' class='charts'></div>
    <div class='tgc'>
      <button nz-button [nzType]='dayType' (click) = 'dayEvent()'>日</button>
      <button nz-button [nzType]='weekType' (click) = 'weekEvent()'>周</button>
      <button nz-button [nzType]='monthType' (click) = 'monthEvent()'>月</button>
    </div>
  </div>
  <ul>
    <li *ngFor='let item of problemTypeArr; let i = index' [ngClass]='{red: cur === i}' class='' (click) = 'cur = i'>{{item.key}}----{{item.value}}</li>
  </ul>
  