<nz-layout class="home-wrapper">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzBreakpoint]="'sm'">
    <div class="logo">
      <img src="/src/assets/logo.gif" alt="黑马程序员">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
        <li nz-submenu>
            <span title><i class="anticon anticon-user"></i>仪表盘</span>
            <ul>
              <li nz-menu-item routerLink="/home/dashBoard" >折线图</li>
              <!-- <li nz-menu-item routerLink="/home/employee/add">员工添加</li> -->
            </ul>
          </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i>员工管理</span>
        <ul>
            <!-- RouterLinkActive 指令会基于当前的 RouterState 为活动的 RouterLink 切换所绑定的 css 类 -->
          <li nz-menu-item routerLink="/home/employee" routerLinkActive = ''>邮件列表</li>
          <li nz-menu-item routerLink="/home/employee/add">员工添加</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-smile-o"></i>工单管理</span>
        <ul>
          <li nz-menu-item routerLink="/home/ticket/list">工单列表</li>
          <li nz-menu-item>角色添加</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-lock"></i>权限管理</span>
        <ul>
          <li nz-menu-item>权限列表</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-lock"></i>表单模块</span>
        <ul>
          <li nz-menu-item routerLink="/home/forms/reactive">响应式表单</li>
          <li nz-menu-item routerLink="/home/forms/template">模板驱动表单</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-lock"></i>个人中心</span>
        <ul>
          <li nz-menu-item>个人信息</li>
          <li nz-menu-item>个人信息</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-lock"></i>技术栈</span>
        <ul>
          <li nz-menu-item routerLink="/home/tech/iterator" routerLinkActive="active">es6-Iterator和for...of循环</li>
          <li nz-menu-item routerLink="/home/tech/routers" routerLinkActive="active">路由</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <!-- 添加头像和退出 -->
      <div nz-row nzType="flex" nzJustify="end">
        <div nz-col nzSpan="4">
          <span>{{username}}</span>
          <nz-avatar nzIcon="anticon anticon-user" nzSrc="/src/assets/avatar.png"></nz-avatar>

          <a nz-popconfirm nzTitle="您是否确认退出？" (nzOnConfirm)="logout()" href="#" class="logout">
            <i class="anticon anticon-logout"></i>&nbsp;&nbsp;退出
          </a>
        </div>
      </div>
    </nz-header>
    <nz-content style="margin:24px 16px 0;">
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <!-- 子路由的出口，用来加载 员工管理 等模块 -->
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">wangwenjuan © 2016-2018</nz-footer>
  </nz-layout>
</nz-layout>
